*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild

release
target
build
libs
.settings
.project
.classpath
.idea
bin
gen
proguard
.pmd
*~
*.iml
tmp
gen-external-apklibs
out
tmp
MeituanUri
coverage
build/
.gradle/
local.properties
.gradletasknamecache
*swp
